@import url('./main-layout.css');

@import url('./views/card-view.css');
@import url('./views/home-view.css');
@import url('./views/about-view.css');

/* 
Global style values
---------------------
Important to note to put the '!important' flag here'
*/

:root {
  --lumo-primary-color: rgba(0, 204, 102) !important;
  --lumo-primary-text-color: rgba(0, 204, 102) !important;

  --flip-card-height: 100%;
  --flip-card-transition-duration: 800ms;
  --flip-card-border-radius: 4px;
  --flip-card-box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
  --flip-card-background-color-front: white;
  --flip-card-background-color-back: white;
  --flip-card-transition-timing-function: ease;
}

.align-self-center {
  align-self: center;
}

.p-4 {
  padding: var(--lumo-space-l);
}

.mt-4 {
  margin-top: var(--lumo-space-l);
}