:root {
  --lumo-primary-color: rgba(0, 204, 102) !important;
  --lumo-primary-text-color: rgba(0, 204, 102) !important;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  width: 100%;
  padding-right: var(--lumo-space-m, 0.75em);
  padding-left: var(--lumo-space-m, 0.75em);
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  max-width: 1560px;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

/**
 * utils, that can be changed to use Vaadin utils
 * @see https://vaadin.com/docs/latest/styling/lumo/utility-classes
*/
.align-self-center {
  align-self: center;
}

.p-4 {
  padding: var(--lumo-space-l);
}

.mt-4 {
  margin-top: var(--lumo-space-l);
}