.user-summary-card
{
	
}

.user-summary-card .title
{
	font-weight : 900;
}

.user-summary-card .birthdate
{
	white-space : nowrap;
	font-size : var(--lumo-font-size-s);
}

.user-summary-card .educational-progress-gauge
{
	width : 250px;
	height : 200px;
	align-self: center;
}

.user-summary-card .profile-image
{
  flex-shrink: 0;
  margin-right: calc(var(--lumo-space-s) * 1.5);
  width: 100px;
  height: auto;
}